.accordion {}
.accordion_group {
    margin-bottom: 2px;
    background: #f0f0f0;
    padding: 5px 10px;
}
.accordion_header {
    cursor: pointer;
    font-size: 18px;
    line-height: 16px;
    width: 100%;
    padding: 10px 15px;
}
.accordion_icon{
    color: #34495e;
    padding-right: 16px;
    background-color: #34495e;
    margin-right: 10px;
    font-size: 14px;
    border-radius: 3px;
}
.accordion_content { 
    padding: 10px 15px;
    display: none;
}

.accordion_group .accordion_icon {
    position: relative;
}
.accordion_group .accordion_icon::before,
.accordion_group .accordion_icon::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 3px;
    width: 10px;
    height: 2px;
    margin-top: -1px;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all .25s;
    transition: all .25s;
    background-color: #f0f0f0;
}
.accordion_group.expanded .accordion_icon::before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
}
.accordion_group .accordion_icon::before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 1;
}
.accordion_group .accordion_icon::after {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.accordion_group.expanded .accordion_icon::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}